ConsoleApplication/Web References/WebReference/WebSiteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/message" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/message" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/message">
      <s:element name="WriteInDb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WriteInDbResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WriteInDbResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WriteInDbSoapIn">
    <wsdl:part name="parameters" element="tns:WriteInDb" />
  </wsdl:message>
  <wsdl:message name="WriteInDbSoapOut">
    <wsdl:part name="parameters" element="tns:WriteInDbResponse" />
  </wsdl:message>
  <wsdl:portType name="WebSiteServiceSoap">
    <wsdl:operation name="WriteInDb">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Save to database</wsdl:documentation>
      <wsdl:input message="tns:WriteInDbSoapIn" />
      <wsdl:output message="tns:WriteInDbSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebSiteServiceSoap" type="tns:WebSiteServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WriteInDb">
      <soap:operation soapAction="http://localhost/message/WriteInDb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebSiteServiceSoap12" type="tns:WebSiteServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WriteInDb">
      <soap12:operation soapAction="http://localhost/message/WriteInDb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebSiteService">
    <wsdl:port name="WebSiteServiceSoap" binding="tns:WebSiteServiceSoap">
      <soap:address location="http://localhost:7437/WebSiteService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebSiteServiceSoap12" binding="tns:WebSiteServiceSoap12">
      <soap12:address location="http://localhost:7437/WebSiteService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>